%section.mb-8
  .container
    %h2 About Us

    %h3 What We Do:
    %p Hyper Kitten is a nonprofit 501 (c)(3) organization that helps nonprofits and individuals accomplish their mission through the web.

    %h3 Ways we can help:
    %ul
      %li Aide with setup for basic technology services such as website and email addresses
      %li Educate clients on the basic and advanced uses of marketing through social media
      %li Provide technology education both remote and in person (when possible)
      %li Enable people and nonprofits to manage their web technology independent from our organization
    %h3 Offerings:
    %ul
      %li Education
      %li Assistance/Tech Support
      %li Management

    %p Hyper Kitten was created in 2020 following an observation made by its founders, Josh and Laura Klina.  As they assisted local nonprofits with building their websites, they noticed that there was a deficiency in using various resources which could greatly assist their organizations.  Their experience taught them that many of the groups did not have an online presence that could expand the organization’s efforts with achieving their goals and that many of the leaders were not well-educated or wary about using technology.
    %p As a result, Josh not only built the requested website, but he then set up nonprofit accounts with digital tech resources and educated organization members on how to run their own accounts.  This was accomplished while being mindful that when a task was too daunting for an individual at that time he would assist them further.  Concurrently, Laura created social media accounts and educated members of organizations on how to create pages and effective posts, build followers, and get positive results from their feed and events.  Societal changes due to the COVID-19 pandemic soon led her to teach individuals how to use video conferencing platforms to communicate or host events remotely.  
    %p Before Hyper Kitten, Josh worked in various tech positions, some being prestigious companies.  His experience includes web development, web design, advertising, marketing, management, etc….  Laura was a mental health therapist for 10 years, working with children and adolescents, adults, and families in both outpatient individual and group therapies in Pennsylvania as well as a residential treatment program for troubled youth in Utah.  In 2016, they moved from Pennsylvania to southern Utah, then two years later moved to Kanab, Utah where they established a bed and breakfast in their historical house.  
    %p Josh’s interests include fly fishing, making bread, cooking, reading, playing strategy games, and “working” on personal side projects.  Laura enjoys riding horses, reading, playing flute, drinking tea with friends, and playing and snuggling with her cats. 
    %p Together they enjoy hiking, camping, exploring the wilderness, visiting national parks, watching true crime or mystery series and movies, and spending time by a fire or playing games with friends and family.  They have two cats (Fiona and Baker) and a dog, Ted. 

