%section.mb-8
  .container
    %h2 About Us

    %h3 What We Do:
    %p Hyper Kitten is a nonprofit 501 (c)(3) organization that helps nonprofits and individuals accomplish their mission through the web.

    %h3 Ways we can help:
    %ul
      %li Aide with setup for basic technology services such as website and email addresses
      %li Educate clients on the basic and advanced uses of marketing through social media
      %li Provide technology education both remote and in person (when possible)
      %li Enable people and nonprofits to manage their web technology independent from our organization
    %h3 Offerings:
    %ul
      %li Education
      %li Assistance/Tech Support
      %li Management
