%section.mb-8
  .container
    %h2 About Us
    %p As a nonprofit, we rely on the generous financial support from donors and clients to assist us with our mission.  We created Hyper Kitten knowing that many of those who need technological assistance may be budding nonprofits and those with limited finances themselves.  
    %p Your donation is similar to a pay-it-forward in that you help us improve the audience and donations for these individuals, who in turn may be able to donate to us following their improvements. 

