%section.mb-8
  .container
    %h2 Donate
    %p As a nonprofit, we rely on the generous financial support from donors and clients to assist us with our mission.  We created Hyper Kitten knowing that many of those who need technological assistance may be budding nonprofits and those with limited finances themselves.

