%section.mb-8
  .container
    %h2 Get Involved
    %p Making an in-kind volunteer donation is one other way you can support Hyper Kitten- all while getting hands-on experience and knowledge! Just a way to practice your skills in the technology and nonprofit sector.
    %p If you would like to have an impact in the nonprofit world and have an interest working with these techniques and services we would be thrilled to have you help and you can gain hands-on experience.  What a great addition to your resume!

