%h2 What We've Learned
%p.lead This is meant to be a guide of lessons we learned that we use everyday to help small nonprofits with tight budgets achieve their mission online.
%p As a small organization, resources are limited. You have to manage finances, government registrations, everyday business operations, not to mention work on your mission. Adding tech operations on top of this is a lot to handle especially if you're not familiar with the tech landscape.
%p This is where Hyper Kitten comes in!
%p The Hyper Kitten crew has a range of experience from bootstrapping organizations from scratch to helping large enterprise based businesses with software engineering. This playbook is a distillation of that knowledge to describe solutions designed to minimize resources (time and money) and accomplish your goals.

%h3 Tools

%p Solutions described here tend to leverage open sourced software that is well established with a long track record. Conversely, you may notice a lack of cutting edge software. Cutting edge software, while exciting, tends to evolve quickly and therefore requires more maintenance and your precious time. It also hasn't been battle tested in production environments and tends to require more configuration.

%h3 YAGNI (You Ain't Gonna Need It)

%p In addition to choosing the right tools, having the correct philosophy and mindset is important when choosing your technology. With the hundreds of tools and services available to non profits at free or heavily discounted rates, it is tempting to adopt them, however with each adoption you're making a commitment, you're entering a relationship and commitments and relationships demand time and resources. If you make a commitment to store all your contacts in an online service, you are now tied to that online service. If the service at some point decides to change their polices and stops providing a free tier, you could find yourself in a jam. In the world of software development, we call these dependencies and we try to minimize them. Dependencies change, disappear, have outages, get bought out and when that happens its more work for the systems that rely on dependencies and have to adjust. For this reason, we tend to provide advice of only adopting the solutions that are needed and will have a positive impact.

%h3 Got it! Let's Get Rolling
%p Please browse the sections on the left which outline the tools and services we tend to gravitate toward for different use cases. If you have questions feel free to reach out!
