%section.mb-8
  .container
    %h2 Playbook
    .row
      .col-md-3
        %ul.nav.flex-colum
          %li.nav-item
            =link_to "Google", "#", class: "nav-link active"
          %li.nav-item
            =link_to "Google", "#", class: "nav-link active"
          %li.nav-item
            =link_to "Google", "#", class: "nav-link active"
          %li.nav-item
            =link_to "Google", "#", class: "nav-link active"
          %li.nav-item
            =link_to "Google", "#", class: "nav-link active"

