%h2 What We've Learned
%p.lead This is meant to be a guide of lessons we learned that we use everyday to help small nonprofits with tight budgets achieve their mission online.
%p As a small organization, resources are limited. You have to manage finances, government registrations, everyday business operations, not to mention work on your mission. Adding tech operations on top of this is a lot to handle especially if you're not familiar with the tech landscape.
%p This is where Hyper Kitten comes in!
%p The Hyper Kitten crew has a range of experience from bootstrapping organizations from scratch to helping large enterprise based businesses with software engineering. This playbook is a distillation of that knowledge to describe solutions designed to minimize resources (time and money) and accomplish your goals.
%p Solutions described here tend to leverage open sourced software that is well established with a long track record. Conversely, you may notice a lack of cutting edge software. Cutting edge software, while exciting, tends to evolve quickly and therefore requires more maintenance.

yj
